@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  /*---------HEADER--------*/
  .container > .header-container {
    max-width: 1158px;
  }
  .navigation {
    margin-left: 0;
    margin-right: 332px;
  }
  .mail-tel {
    display: flex;
    gap: 40px;
  }
  .address {
    padding-bottom: 0;
    margin-left: auto;
  }
  /*---------HERO--------*/
  .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desc.jpg);
    justify-content: center;
    background-size: cover;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .box {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-desc-2x.jpg);
    }
  }
  .main-title {
    font-size: 56px;
    line-height: calc(60 / 56);
    margin-bottom: 48px;
    text-transform: capitalize;
    text-align: center;
  }
  /*---------FEATURES--------*/
  .features {
    padding: 120px 0;
  }
  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .features-icon-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: var(--features-icon-bckgrnd-color);
  }
  .features-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
  }
  .features-txt {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
  } /*---------PROJECTS--------*/
  .projects {
    display: flex;
    padding-bottom: 120px;
  }
  .projects-list {
    display: flex;
    gap: 24px;
  }
  .project-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  /*---------TEAM--------*/
  .team {
    padding: 120px 0 120px 0;
  }
  .team-list {
    flex-wrap: nowrap;
  }
  /*---------CUSTOMERS--------*/
  .customers {
    padding: 120px 0 120px 0;
  }
  .customers-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  /*---------FOOTER--------*/
  .footer {
    background-color: var(--hero-footer-background-color);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0;
  }
  .footer > .container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-left: 0;
  }
  .footer-logo-txt {
    margin-right: 120px;
    margin-bottom: 0;
  }
  .footer-soc {
    margin-right: 80px;
    margin-bottom: 0;
  }
  .footer-soc-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: var(--footer-soc-title-color);
  }
  .footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footer-logo-color);
  }
  .footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .footer-soc-item {
    width: 40px;
    height: 40px;
  }
  .footer-soc-link {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--footer-soc-bckgrnd-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-soc-icon {
    fill: var(--footer-soc-icon-color);
  }
  .footer-soc-link:is(:hover, :focus) {
    background-color: var(--footer-soc-hover-color);
  }
  .footer-txt {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 16px;
    max-width: 264px;
    color: var(--footer-txt-color);
  }
  .footer-subscribe-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: var(--team-content-bckgd-color);
  }
  .footer-subscribe {
    margin-left: 0;
    margin-right: 0;
  }
  .footer-form {
    display: flex;
    align-items: flex-end;
    padding-bottom: 28px;
  }
  .footer-input {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    margin-top: 16px;
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
  }
  .footer-input:focus {
    border-color: var(--modal-icon-hover);
  }
  .footer-input::placeholder {
    font-size: 12px;
    line-height: calc(24 / 12);
    letter-spacing: 0.04em;
  }
  .footer-btn {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    height: 40px;
    border-color: transparent;
    border-radius: 4px;
    background: var(--modal-icon-hover);
    color: var(--team-content-bckgd-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-btn:is(:hover, :focus) {
    background-color: var(--main-background-btn-hover-color);
  }
  .footer-btn::after {
    margin-left: 16px;
    content: "";
    width: 24px;
    height: 20px;
    background-image: url(../images/icon-send.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}
